* {
	margin: 0;
	padding: 0;

}

body {
	background-image: linear-gradient(to bottom right, #141E30, #243B55);
}

#Home {
	width: 100%;
	height: 100vh;
	/* background-color: #aaa; */
	color: #fff;
	font-size: 2em;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
}

#Projects {
	width: 100%;
	/* background-image: linear-gradient(to bottom right, #000428, #004e92); */
	box-sizing: border-box;
	padding: 50px;
}

#Projects .row,
.row2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
	margin-top: 100px;
	height: 70vh;
}

/* projects */
div.box {
	margin: 90px;
	margin-top: 0;
}

.box {
	width: 300px;
	height: 180px;
	border: 2px solid #fcfcfc;
	padding: 10px;
	position: relative;
	overflow: hidden;
}

.box img {
	width: 100%;
	height: 100%;
}

.content {
	position: absolute;
	top: -100%;
	left: 0;
	background: rgba(0, 0, 0, 0.8);
	color: aliceblue;
	width: 100%;
	height: 100%;
	align-items: center;
	text-align: center;
	padding: 30px 20px;
	box-sizing: border-box;
}

.box:hover .content {
	top: 0;
	transition: 0.2s ease-in-out;
}

.content .button:active {
	width: 120px;
	box-shadow: 0 0 15px 15px rgba(255, 255, 255, 0.3);
}

#Projects .button button {
	background-color: transparent;
	border: none;
	width: 90%;
	font-weight: 700;
	color: #fcfcfc;
	user-select: none;
	text-decoration: none;
	cursor: pointer;
}

#Projects .button img {
	width: 40px;
	height: 40px;
	color: #fcfcfc;
}

#Projects .button {
	margin-top: 20px;
	margin-left: 80px;
	width: 130px;
	height: 40px;
	background-color: #d21a7c;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
}

#Projects a {
	text-decoration: none;
}

/* 2nd card style */
.card {
	height: 480px;
	width: 460px;
	background-color: #fcfcfc;
	transform: scale(0.7);
	border-radius: 8px;
	box-shadow: 0 0 80px 1px #4169b0;
	padding: 20px;
	box-sizing: border-box;
}

.info {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.name {
	font-size: 35px;
	font-weight: 600;
	color: #f79f08;
	position: absolute;
	top: 100px;
	letter-spacing: 2px;
}

.prof {
	font-size: 25px;
	color: #555555;
	position: absolute;
	top: 140px;
}

.divider {
	background-color: #949594;
	height: 1.5px;
	width: 50px;
	position: absolute;
	top: 190px;
}

.bio {
	position: absolute;
	top: 220px;
	color: #949594;
	line-height: 28px;
	font-size: 18px;
	text-align: justify;
	padding-left: 12px;
	padding-right: 12px;

}

.card #card2 {
	background-color: #a9f5cc;
	color: #000;
	position: absolute;
	bottom: 30px;
	right: 160px;
	font-weight: 900;
	font-size: 1em;
	letter-spacing: 2px;
}

.photo {
	height: 100%;
	width: 100%;
	background-image: url(ac.png);
	background-repeat: no-repeat;
	position: absolute;
	bottom: 0;
	background-size: 100% 100%;
	border-radius: 8px;
	left: 0;
}

.card:hover .photo {
	transform: scale(0.33, 0.33) translateY(-730px);
	border-radius: 50%;
	transition: 0.5s ease-in-out 0.5s;
}

/* 3rd card style */
dib.box2 {
	padding: 0;
	color: #fff;
	z-index: 100;
}

.box2 {
	position: relative;
	height: 380px;
	perspective: 1000px;
	transition: all 0.4s ease-in-out 0.4s;
	margin-right: 50px;
}

.box2:hover {
	transform: scale(1.1);
	box-shadow: 1px 2px 10px 5px solid #000;
}

.box2 .box2-img {
	transform: rotateY(0);
	transition: all 0.4s ease-in-out 0s;
}

.box2:hover .box2-img {
	transform: rotateY(-90deg);
}

.box2 .box2-img img {
	width: 290px;
	height: 380px;
	border: 2px solid #0c1530;
	border-radius: 10px;
}

.box2 .content2 {
	color: #fff;
	background: rgba(255, 255, 255, 0.3);
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 90px 20px;
	text-align: center;
	border-radius: 10px;
	transform: rotateY(90deg);
	transition: all 0.4s ease-in-out 0s;
	box-shadow: 10px 10px 10px 0 #fff;
}

.box2 .content2 p {
	border-top: 1px dashed wheat;
	border-bottom: 1px dashed wheat;
	padding: 10px 0;
	margin-top: 10px;
}

.box2:hover .content2 {
	transform: rotateY(0);
}

.box2 .content2 a {
	text-decoration: none;
}

.box2 .content2 a #card3 {
	color: #f79f08;
	margin-top: 100px;
	border: 1px solid #f79f08;
	width: 50%;
	height: 40px;
	left: 60px;
	position: relative;
	box-sizing: border-box;
	padding-top: 10px;
}

.box2 .content2 a #card3:hover {
	color: rgba(255, 255, 255, 0.9);
	border: 1px solid rgba(255, 255, 255, 0.7);
	background-color: #f79f08;
}

/* project ends here */

#About {
	width: 100%;
	height: 100vh;
	/* background-color: #ccc; */
}

#Collab {
	width: 100%;
	height: 100vh;
	/* background-color: #ddd; */
}

#header {
	position: sticky;
	top: 0;
	background-color: #000;
	height: 60px;
	width: 100%;
	z-index: 100;
}

.header ul {
	list-style-type: none;
	text-align: center;
	margin-right: 90px;
}

.header ul li {
	float: right;
	padding: 10px;

}

.header ul li a {
	text-decoration: none;
	display: block;
	color: white;
	padding-top: 10px;
	font-size: 1.20em;
	margin-right: 20px;
	font-family: cursive;
	letter-spacing: 1.5px;
	position: relative;
}

.header ul li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0%;
	height: 1px;
	background: white;
	transition: 0.3s ease-out;
}

.header ul li a:hover::after {
	left: 0;
	width: 100%;
}

footer {
	width: 100%;
	height: 90px;
	position: relative;
	bottom: 0;
	text-align: center;
	background-color: #000;
	color: #fff;
	display: flex;
}

footer .copyright {
	width: 25%;
	height: 50%;
	text-align: center;
	margin-top: 35px;
}

footer .social {
	width: 75%;
	height: 50%;
	color: white;
	visibility: 1;
	margin-top: 20px;
}

footer ul {
	list-style-type: none;
	text-align: center;
	margin-right: 90px;
}

footer ul li {
	float: right;
	padding: 10px;

}

footer ul li a {
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
	border-color: white;
	border-width: 2px;
	border-style: solid;
	border-radius: 40px;
	padding: 10px;
}

footer ul li a:hover {
	color: #000;
	background-color: #fff;
}